@font-face {
	font-family: 'Glyphicons Halflings';
	src: url("https://fastcdn.org/Bootstrap/3.3.5/fonts/glyphicons-halflings-regular.woff2") format('woff2');
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../assets/firaSans-webf/FiraSans-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Sans Ultra';
	src: url('../assets/firaSans-webf/FiraSans-UltraItalic.woff') format('woff');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../assets/firaSans-webf/FiraSans-HeavyItalic.woff') format('woff');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Fira Sans Book';
	src: url('../assets/firaSans-webf/FiraSans-BookItalic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Fira Sans Four';
	src: url('../assets/firaSans-webf/FiraSans-FourItalic.woff') format('woff');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Fira Sans Four';
	src: url('../assets/firaSans-webf/FiraSans-Four.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../assets/firaSans-webf/FiraSans-ExtraLightItalic.woff') format('woff');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'Fira Sans Two';
	src: url('../assets/firaSans-webf/FiraSans-Two.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../assets/firaSans-webf/FiraSans-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../assets/firaSans-webf/FiraSans-ThinItalic.woff') format('woff');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Fira Sans Book';
	src: url('../assets/firaSans-webf/FiraSans-Book.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Sans Eight';
	src: url('../assets/firaSans-webf/FiraSans-Eight.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Sans Eight';
	src: url('../assets/firaSans-webf/FiraSans-EightItalic.woff') format('woff');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Fira Sans Two';
	src: url('../assets/firaSans-webf/FiraSans-TwoItalic.woff') format('woff');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../assets/firaSans-webf/FiraSans-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Sans Hair';
	src: url('../assets/firaSans-webf/FiraSans-HairItalic.woff') format('woff');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../assets/firaSans-webf/FiraSans-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../assets/firaSans-webf/FiraSans-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../assets/firaSans-webf/FiraSans-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../assets/firaSans-webf/FiraSans-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../assets/firaSans-webf/FiraSans-UltraLight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../assets/firaSans-webf/FiraSans-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../assets/firaSans-webf/FiraSans-ExtraBoldItalic.woff') format('woff');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Fira Sans Ultra';
	src: url('../assets/firaSans-webf/FiraSans-Ultra.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../assets/firaSans-webf/FiraSans-ExtraLight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../assets/firaSans-webf/FiraSans-UltraLightItalic.woff') format('woff');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../assets/firaSans-webf/FiraSans-Heavy.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../assets/firaSans-webf/FiraSans-SemiBoldItalic.woff') format('woff');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../assets/firaSans-webf/FiraSans-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../assets/firaSans-webf/FiraSans-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../assets/firaSans-webf/FiraSans-MediumItalic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Fira Sans Hair';
	src: url('../assets/firaSans-webf/FiraSans-Hair.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Sans Four';
	src: url('../assets/firaSans-webf/FiraSans-Four.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Sans Eight';
	src: url('../assets/firaSans-webf/FiraSans-EightItalic.woff') format('woff');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../assets/firaSans-webf/FiraSans-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../assets/firaSans-webf/FiraSans-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../assets/firaSans-webf/FiraSans-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../assets/firaSans-webf/FiraSans-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../assets/firaSans-webf/FiraSans-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../assets/firaSans-webf/FiraSans-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Sans Ultra';
	src: url('../assets/firaSans-webf/FiraSans-Ultra.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../assets/firaSans-webf/FiraSans-ExtraLightItalic.woff') format('woff');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../assets/firaSans-webf/FiraSans-MediumItalic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Fira Sans Hair';
	src: url('../assets/firaSans-webf/FiraSans-Hair.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../assets/firaSans-webf/FiraSans-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Sans Four';
	src: url('../assets/firaSans-webf/FiraSans-FourItalic.woff') format('woff');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Fira Sans Eight';
	src: url('../assets/firaSans-webf/FiraSans-Eight.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../assets/firaSans-webf/FiraSans-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Sans Book';
	src: url('../assets/firaSans-webf/FiraSans-BookItalic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../assets/firaSans-webf/FiraSans-HeavyItalic.woff') format('woff');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../assets/firaSans-webf/FiraSans-ThinItalic.woff') format('woff');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Fira Sans Book';
	src: url('../assets/firaSans-webf/FiraSans-Book.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../assets/firaSans-webf/FiraSans-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../assets/firaSans-webf/FiraSans-Heavy.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../assets/firaSans-webf/FiraSans-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Sans Hair';
	src: url('../assets/firaSans-webf/FiraSans-HairItalic.woff') format('woff');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../assets/firaSans-webf/FiraSans-UltraLightItalic.woff') format('woff');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'Fira Sans Two';
	src: url('../assets/firaSans-webf/FiraSans-TwoItalic.woff') format('woff');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../assets/firaSans-webf/FiraSans-ExtraBoldItalic.woff') format('woff');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../assets/firaSans-webf/FiraSans-UltraLight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../assets/firaSans-webf/FiraSans-ExtraLight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Sans Two';
	src: url('../assets/firaSans-webf/FiraSans-Two.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Sans Ultra';
	src: url('../assets/firaSans-webf/FiraSans-UltraItalic.woff') format('woff');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../assets/firaSans-webf/FiraSans-SemiBoldItalic.woff') format('woff');
	font-weight: 600;
	font-style: italic;
}

